
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(87, 182, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.form_container{
    display: flex;
    flex-direction: column;
}

.header {
    width: auto;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}

.child_1, .child_2, .child_3, .child_4, .footer{
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-weight: bolder;
}

.child_2 {
    margin-bottom: 5px;
}


label{
    display: inline-block;
    width: 120px;
    margin-bottom: 5px;
}


.child_3, #date {
    display: flex;
    gap: 20px;
    width: 550px;
}

input, textarea{
    width: calc(100% - 160px);
    padding: 5px;
    margin-bottom: 10px;
    background-color:white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea{
    resize: vertical;
}


.child_2 p {
    margin-bottom: 5px;
}


.footer{
    display: flex;
    gap: 10px;
}
.footer p{
    color: white;
    font-weight: bolder;
    margin-top: 5px;
}

.footer label{
    width: 160px;
}


